<!--
################################################################################################
################################################################################################

	COMMON FOOTER OF ALL WEBSITE

################################################################################################
################################################################################################
-->
<footer th:fragment="footer" class="footer border bg-dark btn-outline-light">
<p>

</p>
</footer>