<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</header>
</head>
<body>
	<header th:replace="fragments/menu :: menu"></header>

	<div id="Wrapper">
		<div class="container-fluid">
			<div id="content-section" class="float-left col-9">
				<div class=" headerPostList"
					th:text="${#strings.toUpperCase(titulo)}"></div>

				<div class="post-list card bg-white">
					<div class="card-body">
					
					
<table class="table table-bordered">
<thead>
  <tr>
    <th class="tg-0lax">Avatar</th>
    <th class="tg-0lax">Name</th>
    <th class="tg-0lax"></th>
  </tr>
  <tr th:each="user : ${followedBy}">
	  <td th:text="${user.avatar}"></td>
	  <td th:text="${user.username}"></td>
	  <td>es</td>
    
  </tr>
</thead>
</table>
					
					
					
					
					
					
					</div>
				</div>
			</div>
			<div th:replace="fragments/sidebar.html"></div>

		</div>
	</div>
	<footer clear-top th:replace="fragments/footer.html"></footer>
	</div>
</body>
</html>