<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</header>
</head>
<body>
	<header th:replace="fragments/menu :: menu"></header>
	

	<div class="container-fluid">
		<div id="content-section" class="float-left col-7">
			<div class="card m-3" th:each="post: ${posts}">
				<div class="card-header">
					<a th:text="${post.title}" th:href="@{/post/list/} + ${post.id}"></a>
				</div>
				<div class="card-body">
					<p class="card-text" th:text="${post.content}"></p>
				</div>

				<div class="card-footer text-muted"
					th:text="'Comments ' + ${post.commentaryCount}"></div>
				<div class="card-footer text-muted"
					th:text="'Category ' + ${post.category.name}"></div>
				<div class="card-footer text-muted">
					<span>Author : </span><a
						th:href="@{/profile/} + ${post.createdBy.username}"
						th:text="${post.createdBy.username}"></a>
				</div>

				<div class="card-footer text-muted" th:text="${post.createdAt}"></div>
				<!-- 	
		<div class="card-footer text-muted" th:text="${#dates.format(post.createdAt, 'dd-MM-yyyy HH:mm')}">2 days ago</div>
		
		 -->
		
			</div>
		
		</div>
	<div th:replace="fragments/sidebar.html"></div>


	</div>

	<footer clear-top th:replace="fragments/footer.html"></footer>
</body>
</html>